/*------------------------------------*\
  #Hero-area
\*------------------------------------*/

.hero-area {
  display: flex;
  background-image:   url("../img/hero-bg.png");
  background-size:    100% 100%;
  padding-top:    rem(189);
  padding-bottom: rem(258);
  padding-left:   rem(107);
  padding-right:  rem(89);
  
  @media #{$medium-screen-and-below} {
    align-items: center;
    flex-direction: column;
    padding-top:    0;
    padding-left:   0;
    padding-right:  0;
  }
}

  .hero-area__col {
    margin-top:  rem(86);
    
    @media #{$medium-screen-and-below} {
      margin-top: rem(20);
    }
    
    @media #{$smaller-screen-and-below} {
      display: flex;
      flex-direction: column;
    }
  }
    
    .hero-area__col:nth-of-type(1) {
      font-family:  'Montserrat', sans-serif;
      
      @media #{$medium-screen-and-below} {
        margin-left: rem(100);
      }
      
      @media #{$smaller-screen-and-below} {
        margin-left: rem(50);
      }
    }
  
    .hero-area__col:nth-of-type(2) {
      margin-left: rem(62);
      display: flex;
      background: rgba(216, 216, 216, 0.4);
      height: max-content;
      padding-right:  rem(75);
      color: $white;
      
      @media #{$small-screen-and-below} {
        margin-left: 0;
        padding-right: rem(20);
      }
    }
  
  .hero-area__sub-txt {
    font-size:    rem(38);
    color: $alto;
    margin-bottom:  rem(48);
    margin-top:     rem(30);
    width: rem(384);
  }
  
  .hero-area__stats-col {
    display: flex;
    flex-direction: column;
  }
  
    .hero-area__stats-col:nth-of-type(2) {
      border-left: solid rem(1) #979797;
      padding-left:   rem(74);
      
      @media #{$small-screen-and-below} {
        padding-left: 0;
      }
      
      @media #{$small-screen-and-below} {
        border-left:  none;
        border-top:   solid rem(1) #979797;
      }
    }
    
  .hero-area__daily-row {
    padding-left:   rem(49);
    padding-right:  rem(33);
    padding-top:    rem(35);
    padding-bottom: rem(40);
    display: flex;
  }
  
    .hero-area__daily-row:nth-of-type(2) {
      border-top:     solid rem(1) #979797;
      border-bottom:  solid rem(1) #979797;
    }
    
    .hero-area__daily-row p {
      font-size: rem(18);
      margin: 0;
      text-transform: uppercase;
    }
    
    .hero-area__daily-row strong {
      font-size: rem(27);
      margin-left: rem(27);
      font-weight: 300;
    }
    
  .hero-area__daily-col {
  }
  
  .hero-area__date {
    margin-right: rem(82);
    text-transform: uppercase;
    font-size: rem(20);
  }
  
  .hero-area__week-col {
    margin-top:     rem(56);
    margin-bottom:  rem(56);
    text-align: right;
    
    @media #{$small-screen-and-below} {
      margin-top:     rem(20);
      margin-bottom:  rem(20);
    }
    
    @media #{$smaller-screen-and-below} {
      text-align: center;
    }
  }
  
  .hero-area__week-txt {
    font-size: rem(20);
    text-transform: uppercase;
  }
  
    .hero-area__week-txt strong {
      font-size: rem(50);
      font-weight: 300;
    }
    
  .hero-area__checks-col {
    font-size: rem(14);
    
    @media #{$smaller-screen-and-below} {
      align-self: center;
    }
  }
    .hero-area__checks-col p {
      width: max-content;
    }