/*------------------------------------*\
  #Icons
\*------------------------------------*/

@import 'fontello';

.icon {
  margin-left:  rem(7);
  margin-right: rem(7);
  color: $heliotrope;
}

.icon-pricing {
  color: $medium-purple;
  font-size: rem(40);
}

.icon--disabled {
  color: $blue-diamond;
}

.icon--white {
  color: $white;
}