/*------------------------------------*\
  #Document
\*------------------------------------*/

html {
  font-size: (100vw/1440) * $browser-context;
  
  @media #{$medium-screen-and-below} {
    font-size: 10px;
  }
}



/*------------------------------------*\
  #Body
\*------------------------------------*/

body {
  font-family: $main-font;
}



/*------------------------------------*\
  #Headings
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}